body { margin:0; padding:0; font-size:14px; font-family:"Microsoft Yahei"; color:#575353;}
ol,ul,dl,dt,dd,li,p,form,label,input { margin:0;padding:0; list-style-type:none; }
h1,h2,h3,h4{ padding:0px; margin:0px; line-height:100%;}
div,ul {display:block;}
a img,img{border:0;}
a{ text-decoration:none; color:#575353;}
.clear { clear:both;}
.main { width:1200px; margin:0 auto;}

.topbox { width:100%; height:36px; background-color:#f2f2f2;}
.top_left { float:left; line-height:36px;}
.top_right { float:right; line-height:36px;}
.top_right a { padding: 0 10px;}
.red { color:#c50606;}

.logo { float:left; padding: 22px 0 0 2px;}
.menubox { float:right; height:133px;}
.menubox ul { font-size:18px;}
.menubox ul li {  float:left; line-height:133px; height:133px; padding:0 30px;}
.menubox ul li a { color:#605c5c}
.menubox ul li:hover { background-color:#0b84d1;}
.menubox ul li:hover a { color:#FFFFFF;}

.footbox { width:100%; background-color:#333333; height:150px; margin:auto;}
.footbox_in { text-align:center;  padding: 40px 0; color:#FFFFFF; }
.footbox_in p {line-height:200%;}